body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.text {
    font-weight: 300;
    font-size: 2rem;
    color: #FFF;
}

.red {
    font-weight: 700;
    color: red;
}

.cyan {
    font-weight: 700;
    color: rgb(0, 255, 115);
}

.input {
    font-weight: 300;
    font-size: 2rem;
    margin: 20px 0px;
}

.btn {
    border-radius: 25px;
    margin: 10px;
    padding: 15px 35px;
    border: none;
    outline: none;
    background-color: #0092c3;

    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}